@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-container {
  background: linear-gradient(to bottom right, #50a3a2, #00cc66);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

@layer base {
  .fading-border-to-r {
    @apply after:border-gradient-to-right after:absolute after:-left-7 after:bottom-0 after:h-[1px] after:w-full after:content-[''];
  }
  .fading-border-to-c {
    @apply after:border-gradient-to-center after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:content-[''];
  }
  .fading-border-to-b {
    @apply after:border-gradient-to-bottom after:absolute after:right-0 after:top-0 after:h-full after:w-[1px] after:content-[''];
  }
}

@layer components {
  .border-gradient-to-right {
    background: linear-gradient(to right, #bababa, transparent 85%);
  }
  .border-gradient-to-center {
    background: linear-gradient(
      to right,
      transparent 10%,
      #bababa,
      transparent 90%
    );
  }
  .border-gradient-to-bottom {
    background: linear-gradient(to bottom, #bababa, transparent 85%);
  }
  @keyframes rotate-to-top {
    from {
      transform: rotate(0deg);
      left: 10%;
    }
    to {
      transform: rotate(1080deg);
      bottom: 120%;
      left: 30%;
    }
  }
  @keyframes rotate-to-top-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      bottom: 120%;
      right: 0;
    }
  }
  @keyframes rotate-to-top-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      bottom: 50%;
      right: 60%;
    }
  }
  @keyframes rotate-to-bottom {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      top: 120%;
      left: 60%;
    }
  }
  @keyframes rotate-to-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      top: 70%;
      right: 120%;
    }
  }
  @keyframes fadeIn {
    0% {
      left: -70%;
      opacity: 0;
      transform: translate3d(-30%, 0, 0);
    }
    100% {
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeOut {
    0% {
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    60% {
      opacity: 0;
    }
    100% {
      left: -70%;
      opacity: 0;
      transform: translate3d(-30%, 0, 0);
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 6px;
}
