@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

@layer base {
  :root {
    --bg-buttonToggle: theme("colors.gray.200");
    --bodyGradient-start: #8a9393;
    --bodyGradient-end: #78cc6d;
    --frameGradient-start: #78cc6d66;
    --frameGradient-end: #78cc6d03;
    --primary-background: white;
    --primary-text: #323232;
    --secondary-text: #646464;
    --accent-color: #78cc6d;
    --accent-40: rgba(120, 204, 109, 0.4);
  }

  .dark {
    --bg-buttonToggle: theme("colors.gray.700");
    --bodyGradient-start: #121818;
    --bodyGradient-end: #1f5230;
    --frameGradient-start: #256d3b88;
    --frameGradient-end: #256d3b11;
    --primary-background: #121818;
    --primary-text: theme("colors.gray.100");
    --secondary-text: theme("colors.gray.300");
    --accent-color: #3c8136;
    --accent-40: rgba(60, 129, 54, 0.4);
  }

  .fading-border-to-r {
    @apply after:border-gradient-to-right after:absolute after:-left-7 after:bottom-0 after:h-[1px] after:w-full after:content-[''];
  }
  .fading-border-to-c {
    @apply after:border-gradient-to-center after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-full after:content-[''];
  }
  .fading-border-to-b {
    @apply after:border-gradient-to-bottom after:absolute after:right-0 after:top-0 after:h-full after:w-[1px] after:content-[''];
  }
}

@layer components {
  .body-bg {
    background: linear-gradient(
      to bottom right,
      var(--bodyGradient-start),
      var(--bodyGradient-end)
    );
  }
  .frame-bg {
    background: linear-gradient(
      to bottom,
      var(--frameGradient-start),
      var(--frameGradient-end)
    );
  }
  .border-gradient-to-right {
    background: linear-gradient(to right, #bababa, transparent 85%);
  }
  .border-gradient-to-center {
    background: linear-gradient(
      to right,
      transparent 10%,
      #bababa,
      transparent 90%
    );
  }
  .border-gradient-to-bottom {
    background: linear-gradient(to bottom, #bababa, transparent 85%);
  }
  @keyframes rotate-to-top {
    from {
      transform: rotate(0deg);
      left: 10%;
    }
    to {
      transform: rotate(1080deg);
      bottom: 120%;
      left: 30%;
    }
  }
  @keyframes rotate-to-top-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      bottom: 120%;
      right: 0;
    }
  }
  @keyframes rotate-to-top-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      bottom: 50%;
      right: 60%;
    }
  }
  @keyframes rotate-to-bottom {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      top: 120%;
      left: 60%;
    }
  }
  @keyframes rotate-to-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1440deg);
      top: 70%;
      right: 120%;
    }
  }
  @keyframes fadeIn {
    0% {
      left: -70%;
      opacity: 0;
      transform: translate3d(-30%, 0, 0);
    }
    100% {
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeOut {
    0% {
      left: 0;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    60% {
      opacity: 0;
    }
    100% {
      left: -70%;
      opacity: 0;
      transform: translate3d(-30%, 0, 0);
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 6px;
}
